<!-- <app-header (openSideNav)="openSideNav($event)"></app-header>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened="{{openSideNavBar}}">
        <mat-nav-list>
            <a mat-list-item routerLink="/login">Home</a>
            <a mat-list-item routerLink="/signup">Profile</a>    
            <a mat-list-item routerLink="/upload-test">Upload Test</a>            
            <a mat-list-item routerLink="/assign-test">Assign Test</a>           
            <a mat-list-item routerLink="/attend-test">Attend Test</a>   
            <a mat-list-item routerLink="/view-test">View Test</a>  
            <a mat-list-item routerLink="/view-user">View Users</a>           
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content-height">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<app-footer></app-footer> -->

<app-mat-table-example></app-mat-table-example>